*{
	margin: 0;
	padding: 0;
	outline-width: 0;
}

html{
    overflow-X : hidden;
}

body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #121212;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype"
}

.row{
	display: flex;
    flex-direction: row;
}

.center{
	display: flex;
	justify-content: space-between;
}

.photoWrapper{
    width: 50%;
    overflow: hidden;
}

.registerPhoto{
	opacity: 0.6;
    width:200%;
	margin: 0 -50%;
}

.registerBox{
    width: 50%;
    padding-top: 13vh;
}

.registerForm{
    background-color: #292929;
    overflow: hidden;
    width: 80%;
    margin: auto;    
    margin-top: 5%;
}

.registerForm h1{
    color: #F6F6F6;
    text-align: center;
    padding-top: 5%;
    font-size: 5vh;
    font-weight: bold;
}

.registerForm hr{
    width: 50%;
    margin: 3% auto;
    margin-bottom: 5%;
    border: 1px solid #F4FA37;
    
}

.registerForm input{
	background: #292929;
	border: none;
	width: 100%;
    padding-top: 1vh;

	font-size: 3vh;
	color: #fff;
}

.registerForm ::placeholder{
	color: #fff;
}

.signuperror{
	color: red;
	font-size: 1.6vh;
	text-align: center;
}


.inputField{
	display: block;
	width: 70%;

	margin: auto;
	margin-top: 1vh;
	padding: 0.5vh;

    border-color: #F6F6F6;
	border-style: solid;
	border-width: .3vh;
	border-radius: .5vh;

}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type=submit] {
	background-color: #F4FA37;
	display: block;
    width: 70%;
	margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5px;

	border-style: solid;
	border-width: 3px;
    border-radius: 5px;
    border-color: #292929;

	color: #121212;
    cursor: pointer;
    font-weight: bold;
  }
  
  input[type=submit]:hover {
	background-color: #292929;
    color: #F4FA37;

    border-style: solid;
	border-width: 3px;
    border-radius: 5px;
    border-color: #F4FA37;
}

